@tailwind base;
@tailwind components;
@tailwind utilities;




.scale-150 {
    transform: scale(1.5);
  }
  .transition-transform {
    transition: transform 0.3s ease-in-out;
  }

  /* Стили для модального окна */
#modal {
    backdrop-filter: blur(5px);
}


.invisible {
  display: none;
  visibility: hidden;
}
.visible {
  display: block;
  visibility: visible;
}